@import "variables";

*, ::after, ::before {
	box-sizing: border-box;
}

a {
	color: $light-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

body, html {
	margin: 0;
	padding: 0;
}
