@import "variables";

@keyframes appearance {
	from {
		opacity: 0.3;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.header {
	font-family: Montserrat, Arial, sans-serif;

	animation: appearance 0.8s ease-out;

	&__title {
		font-weight: bold;
		font-size: 5vmax;
		color: white;
		font-family: Montserrat, sans-serif;

		@media (min-width: map-get($grid-breakpoints, "lg")) {
			font-size: 60px;
		}
	}

	&__subtitle {
		font-size: 4vmax;
		color: lightgray;
		font-family: Montserrat, sans-serif;

		@media (min-width: map-get($grid-breakpoints, "lg")) {
			font-size: 50px;
		}
	}
}
