@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Souce+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

*, ::after, ::before {
	box-sizing: border-box;
}

a {
	color: #00e7cb;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@import "button";
@import "header";
@import "hero";
@import "logo";
@import "main";
@import "open-source";
@import "page";
@import "projects";
@import "technologies";
