@import "variables";

.page {
	position: relative;
	width: 100%;

	min-width: 320px;

	padding: 20px 10px 10px;

	margin-right: auto;
	margin-left: auto;

	background-color: $blue;

	overflow: hidden;

	@media (min-width: map-get($grid-breakpoints, "md")) {
		padding: 20px 40px 40px;
	}
}
