.projects {
	@media (min-width: 768px) {
		flex-direction: row;
	}

	&__part {
		padding: 20px;

		@media (min-width: 768px) {
			flex-basis: 33.3%;
		}
	}

	&_heading {
		width: 100%;
		font-size: 3vmax;
		font-family: Montserrat, Arial, sans-serif;
		text-align: center;
	}

	&_item {
		&__logo__2do2go {
			fill: #5b9de8;
		}
	}
}
