@import "variables";

.technologies {
	display: flex;
	flex-direction: column;

	@media (min-width: map-get($grid-breakpoints, "lg")) {
		flex-direction: row;
	}

	&__part {
		padding: 20px;
		border-right: 1px solid $gray;
		border-bottom: 1px solid $gray;

		@media (min-width: map-get($grid-breakpoints, "lg")) {
			flex-basis: 33.3%;
			padding: 40px;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-family: Montserrat, sans-serif;

		font-size: 7vw;
		font-weight: bold;

		@media (min-width: map-get($grid-breakpoints, "lg")) {
			font-size: 2.5vw;
		}
	}

	&__description {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.4;
	}
}
