doctype html

title= title
link(rel="stylesheet", href="./styles/index.css")

body
	.page
		.logo devpoint

		section.hero
			header.header
				.header__title Запускаем и поддерживаем
				.header__subtitle &mdash; стартапы, продукты, решения

		section.technologies
			.technologies__part
				.technologies__title Back-end
				.technologies__description
					| Используем Javascript и node.js для большинства наших проектов.
					| Пишем тесты, используя node-tap.
			.technologies__part
				.technologies__title Front-end
				.technologies__description 
					| React и Redux наши основные фреймворки.
					| Мы любим styled-components.
					| Собираем проекты с помощью webpack и babel.
					| Тестируем компоненты с помощью enzyme и node-tap. 
					| Пишем end-to-end тесты с помощью webdriver.io и запускаем в Selenium.

		section.projects
			

		section.open-source

		section.contacts
